body{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color: rgb(112, 175, 123);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
#container{
    background-color: rgb(255, 255, 255);
    text-align:center;
    padding: 20px 50px 20px 50px;
    border-radius: 8px;
    box-shadow: 4px 5px 10px rgba(26, 24, 24, 0.664);
}
p{
    font-size: 50px;
}
#btn-container
{
    display:flex;
    width:180px;
    justify-content:space-between;

}
button{
    font-size:30px;
    padding:5px 9px;
    border:none;
    border-radius: 7px;
    background-color: rgb(186, 201, 198);

}